main {
    /* min-height: 100vh; */
    display: flex;
    padding-left: 36px;
    padding-top: 110px;
    padding-right: 110px;
    padding-bottom: 110px;
    background-color: #370617;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap; 
    
}


.container7 {
    display: flex;
    justify-content: flex-start;
    margin: 10px;
    align-items: flex-start;
    padding: 10px; 
    width: 273px;
    height: 220px;
    background-color: #080705;
    flex-wrap: wrap;
    
}

.container8 {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    align-items: flex-start;
    padding: 10px; 
    width: 273px;
    height: 220px;
    background-color: #080705;
    flex-wrap: wrap-reverse;
    
}

.container9 {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    align-items: center;
    padding: 10px; 
    width: 273px;
    height: 220px;
    background-color: #080705;
    flex-wrap: wrap;
    
}

.container10 {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    align-items: center;
    padding: 10px; 
    width: 273px;
    height: 220px;
    background-color: #080705;
    flex-wrap: wrap;
    
}

.container11 {
    display: flex;
    justify-content:center;
    margin: 10px;
    align-items: center;
    padding: 10px; 
    width: 273px;
    height: 220px;
    background-color: #080705;
    flex-wrap: wrap;
    
}

.circle {
    min-width: 40px;
    min-height: 40px;
    margin: 10px;
    padding: 10px;
    background: #665e5f;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25pt;
    
}