main {
    height: 100vh;
    background-color: #370617;
    display: flex;
    justify-content: space-evenly
}



.container {
    display: flex;
    justify-content: center;
    margin: 20px;
    align-items: center;
    padding: 20px 20px; 
    min-width: 80pt;
    min-height: 80pt;
    background-color: #F48C06;

}

.card {
    
    min-width: 70pt;
    min-height: 70pt;
    margin: 20px;
    padding: 10px;
    display: flex;
    position: relative;
    background: #9D0208;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    
}
